# Visual Studio / ASP.NET Core
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.swp

# Build outputs
bin/
obj/

# Logs
*.log
*.tlog

# npm packages
node_modules/
wwwroot/lib/

# Dependency directories
packages/
.env

# Debug and Release
Debug/
Release/

# JetBrains Rider
.idea/
*.iml

# Resharper
_ReSharper.Caches/


# EF Core Migrations
Migrations/

# Mac OS files
.DS_Store

# Windows Thumb files
Thumbs.db

# Postgres environment files 
pgdata/
pg_dump.sql
